# 23. A/B Testing a Category Variable with 2 Levels

In [2]:
from datascience import *
import numpy as np

%matplotlib inline

import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from scipy import stats

We will continue to work with a subset of the `personality` table called `pers`. This time, however, we will focus on a category variable `AccDate` the responses to which are Yes/No based on this question. "At a time in your life when you are not involved with anyone, someone asks you out. This person has a great personality, but you do not find this person physically attractive. Do you accept the date?"

For the special case of a category variable with only two levels, we can use A/B testing. Since the test statistic is slightly different, the process will be quite similar to but not exactly like typical A/B tests with numeric variables.

In [4]:
pers = Table.read_table('http://faculty.ung.edu/rsinn/perfnarc.csv')
pers.show(5)

In [5]:
date = pers.select('Sex','AccDate')
date

Sex  | AccDate
F    | N
F    | Y
F    | N
F    | Y
F    | Y
F    | N
F    | N
F    | Y
F    | Y
F    | Y
... (138 rows omitted)

In [9]:
date.pivot('AccDate','Sex')

Sex  | N    | Y
F    | 33   | 52
M    | 31   | 32